@import "../../assets/styles/variables";

.MovieBox {
  width: 22rem;
  margin-top: 4rem;
  overflow: hidden;
  position: relative;
  border-radius: 1px;

  &__imgContainer {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    // border-radius: 5px;
    width: 100%;
    height: 33rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  &__imgContainerOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-primary;
    overflow: hidden;
  }

  &__title {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    margin-top: 2rem;
  }

  .overlay {
    background: linear-gradient(to bottom, rgba($color-primary, 0.8), rgba($color-primary, 0.8));
    width: 100%;
    height: 33rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
    backface-visibility: hidden;

    &:hover {
      opacity: 1;
    }

    & > * {
      margin: 1rem 0;
    }

    i {
      color: $color-tertiary;
      font-size: 29px;
      position: relative;
      top: 7%;
      left: -20%;
      margin-top: -5px;
    }

    .ratings {
      display: block;
      width: 10rem;
      height: 10rem;
      border-radius: 100px;
      border: 5px solid $color-tertiary;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      color: $color-tertiary;
      font-weight: 700;
    }
  }
}
