@import "../../assets/styles/variables";

.Container {
  // width: 95%;
  width: 1250px;
  max-width: 1250px;
  margin: auto;
  margin-bottom: 8rem;
}

.MoviesBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Loader {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.slickSlider {
  width: 100%;

  button:nth-of-type(1) {
    //Prev arrow
    display: none !important;
  }

  button:nth-of-type(2) {
    //Next arrow
    &::before {
      font-size: 2.7rem;
      color: $color-tertiary;
    }
  }
}
