// Global Styles
@import "./variables";

html {
  font-size: 62.5%;
}

body {
  background: $color-primary;
  color: #fff;
  background: #f6f6f6;
  color: #333;
  // color: #333;
  overflow-x: hidden;
  font-size: 16px;
}

a {
  color: #fff;
  text-decoration: none;
}
